Repository readmeio/metrics-sdks, pull requests merged in 2020-08, with the labels that each got.

#28 Create simple HTTP-logging middleware
  packages/ruby/Gemfile
  packages/ruby/Gemfile.lock
  packages/ruby/README.md
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/metrics/version.rb
  packages/ruby/readme-metrics.gemspec
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#29 Send valid payloads to Readme API
  packages/ruby/Gemfile
  packages/ruby/Gemfile.lock
  packages/ruby/README.md
  packages/ruby/lib/data.json
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/schema/afterRequest.json
  packages/ruby/spec/schema/beforeRequest.json
  packages/ruby/spec/schema/browser.json
  packages/ruby/spec/schema/cache.json
  packages/ruby/spec/schema/content.json
  packages/ruby/spec/schema/cookie.json
  packages/ruby/spec/schema/creator.json
  packages/ruby/spec/schema/entry.json
  packages/ruby/spec/schema/har.json
  packages/ruby/spec/schema/header.json
  packages/ruby/spec/schema/log.json
  packages/ruby/spec/schema/page.json
  packages/ruby/spec/schema/pageTimings.json
  packages/ruby/spec/schema/postData.json
  packages/ruby/spec/schema/query.json
  packages/ruby/spec/schema/readmeGroup.json
  packages/ruby/spec/schema/readmeMetrics.json
  packages/ruby/spec/schema/request.json
  packages/ruby/spec/schema/response.json
  packages/ruby/spec/schema/timings.json
Labels: area:ruby

#30 Move JSON generation out of the middleware
  packages/ruby/lib/data.json
  packages/ruby/lib/har.json
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/payload.rb
  packages/ruby/spec/readme/har_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
  packages/ruby/spec/schema/readmeMetrics.json
  packages/ruby/spec/spec_helper.rb
  packages/ruby/spec/support/json_schema_matcher.rb
Labels: area:ruby

#31 Generate real HAR from request and response
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/fixtures/har.json
  packages/ruby/spec/readme/har_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
Labels: area:ruby

#32 Gather user info for calls to ReadMe API
  packages/ruby/README.md
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/payload.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
Labels: area:ruby

#33 Set development flag in middleware configuration
  packages/ruby/README.md
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/payload.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
Labels: area:ruby

#34 chore: python package renaming
  packages/python/metrics/__init__.py
  packages/python/readme.md
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/MetricsApiConfig.py
  packages/python/readme_metrics/MetricsMiddleware.py
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/ResponseInfoWrapper.py
  packages/python/readme_metrics/__init__.py
  packages/python/readme_metrics/util.py
  packages/python/setup.py
  packages/python/tests/MetricsMiddleware.test.py
  packages/python/tests/PayloadBuilder.test.py
Labels: area:pyton

#42 Extract `HarRequest` object
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/har_request.rb
  packages/ruby/spec/fixtures/har_request.json
  packages/ruby/spec/readme/har_request_spec.rb
  packages/ruby/spec/readme/har_spec.rb
Labels: area:ruby

#44 Extract `HttpRequest` object
  packages/ruby/lib/http_request.rb
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/har_request.rb
  packages/ruby/spec/http_request_spec.rb
  packages/ruby/spec/readme/har_request_spec.rb
  packages/ruby/spec/readme/har_spec.rb
Labels: area:ruby

#43 Allow user to set attribute names to filter
  packages/ruby/README.md
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/har_request.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/har_request_spec.rb
  packages/ruby/spec/readme/har_spec.rb
Labels: area:ruby

#45 Allow users to specify a set of values that should only be sent to the API
  packages/ruby/README.md
  packages/ruby/lib/readme/filter.rb
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/har_collection.rb
  packages/ruby/lib/readme/har_request.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/filter_spec.rb
  packages/ruby/spec/readme/har_collection_spec.rb
  packages/ruby/spec/readme/har_request_spec.rb
  packages/ruby/spec/readme/har_spec.rb
Labels: area:ruby

#46 Extract test helper factory for http requests
  packages/ruby/spec/readme/har_request_spec.rb
Labels: area:ruby

#49 Extract a `Har` namespace
  packages/ruby/lib/http_request.rb
  packages/ruby/lib/readme/har.rb
  packages/ruby/lib/readme/har/collection.rb
  packages/ruby/lib/readme/har/request_serializer.rb
  packages/ruby/lib/readme/har/serializer.rb
  packages/ruby/lib/readme/har_collection.rb
  packages/ruby/lib/readme/har_request.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/request_queue.rb
  packages/ruby/spec/http_request_spec.rb
  packages/ruby/spec/readme/har/collection_spec.rb
  packages/ruby/spec/readme/har/request_serializer_spec.rb
  packages/ruby/spec/readme/har/serializer_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
  packages/ruby/spec/spec_helper.rb
Labels: area:ruby

#50 Add additional option validation
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#54 Add support for empty response bodies
  packages/ruby/lib/readme/har/response_serializer.rb
  packages/ruby/spec/readme/har/response_serializer_spec.rb
Labels: area:ruby

#52 Validate user info block configuration
  packages/ruby/lib/readme/errors.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#56 Test that we can handle multiple HTTP verbs
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#57 Add LICENSE, gemspec details and update README with installation instructions
  packages/ruby/.gitignore
  packages/ruby/Gemfile.lock
  packages/ruby/LICENSE
  packages/ruby/README.md
  packages/ruby/readme-metrics.gemspec
Labels: area:ruby

#55 Support multiple JSON mime types
  packages/ruby/lib/readme/har/response_serializer.rb
  packages/ruby/spec/readme/har/response_serializer_spec.rb
Labels: area:ruby

#62 Perform API request to ReadMe in a new thread
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/request_queue.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/request_queue_spec.rb
Labels: area:ruby

#67 Ensure any failures inside middleware don't crash application
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#68 Don't send request on OPTIONS
  packages/ruby/lib/http_request.rb
  packages/ruby/lib/readme/har/serializer.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/http_request_spec.rb
  packages/ruby/spec/readme/har/serializer_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#69 Extract app builder function
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#71 Don't submit non-filterable bodies
  packages/ruby/lib/content_type_helper.rb
  packages/ruby/lib/http_request.rb
  packages/ruby/lib/http_response.rb
  packages/ruby/lib/readme/filter.rb
  packages/ruby/lib/readme/har/response_serializer.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/content_type_helper_spec.rb
  packages/ruby/spec/readme/filter_spec.rb
  packages/ruby/spec/readme/har/response_serializer_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
Labels: area:ruby

#70 Provide default values when Content-Length is absent
  packages/ruby/README.md
  packages/ruby/lib/http_response.rb
  packages/ruby/lib/readme/har/response_serializer.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/spec/http_response_spec.rb
  packages/ruby/spec/readme/har/response_serializer_spec.rb
Labels: area:ruby

#73 Don't pass-through requests that fail to parse
  packages/ruby/lib/readme/har/request_serializer.rb
  packages/ruby/spec/readme/har/request_serializer_spec.rb
Labels: area:ruby

#76 fix: updating the php sdk to support guzzle 7
  packages/php/composer.json
  packages/php/src/Metrics.php
  packages/php/tests/MetricsTest.php
Labels: area:php, type:enhancement

#53 ci: python workflow
  .github/dependabot.yml
  .github/workflows/python.yml
  packages/python/.gitignore
  packages/python/README.md
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/MetricsApiConfig.py
  packages/python/readme_metrics/MetricsMiddleware.py
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/ResponseInfoWrapper.py
  packages/python/readme_metrics/tests/MetricsMiddleware_test.py
  packages/python/readme_metrics/tests/PayloadBuilder_test.py
  packages/python/readme_metrics/tests/__init__.py
  packages/python/readme_metrics/tests/util_test.py
  packages/python/readme_metrics/util.py
  packages/python/requirements.txt
  packages/python/setup.py
  packages/python/tests/MetricsMiddleware.test.py
  packages/python/tests/PayloadBuilder.test.py
  packages/python/tests/util.test.py
Labels: area:python

#85 Update instructions of rack config
  packages/ruby/README.md
Labels: area:ruby

#86 Filter parameters case-insensitively
  packages/ruby/lib/readme/filter.rb
  packages/ruby/spec/readme/filter_spec.rb
Labels: area:ruby

#87 Send content-type and content-length to Readme
  packages/ruby/lib/http_request.rb
  packages/ruby/spec/http_request_spec.rb
Labels: area:ruby
