Repository readmeio/metrics-sdks, pull requests merged in 2021-06, with the labels that each got.

#249 chore: upgrade to npm 7 and a fix a few security vulnerabilities
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  packages/node/package-lock.json
  packages/node/package.json
Labels: area:node

#251 add code scanning workflow
  .github/workflows/codeql-analysis.yml
Labels: security

#253 chore: update node package dev dependencies
  package-lock.json
  package.json
  packages/node/.jsinspectrc
  packages/node/__tests__/lib/process-response.test.js
  packages/node/package-lock.json
  packages/node/package.json
Labels: area:node, scope:dependency
