Repository readmeio/metrics-sdks, pull requests merged in 2021-12, with the labels that each got.

#334 feat: dropping support for PHP 7.3, extending support to PHP 8.1
  .github/workflows/php.yml
  packages/php/composer.json
Labels: enhancement, area:php

#335 chore(deps-dev): upgrading eslint and @readme/eslint-config
  package-lock.json
  packages/node/.eslintignore
  packages/node/.eslintrc.js
  packages/node/__tests__/index.test.ts
  packages/node/__tests__/lib/construct-payload.test.ts
  packages/node/__tests__/lib/object-to-array.test.ts
  packages/node/__tests__/lib/process-request.test.ts
  packages/node/__tests__/lib/process-response.test.ts
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/lib/construct-payload.ts
  packages/node/src/lib/express-middleware.ts
  packages/node/src/lib/metrics-log.ts
  packages/node/src/lib/object-to-array.ts
  packages/node/src/lib/process-request.ts
  packages/node/src/lib/process-response.ts
Labels: area:node, dependencies

#337 fix: remove null postData, add support for nested express routes
  packages/node/__tests__/.eslintrc
  packages/node/__tests__/index.test.ts
  packages/node/__tests__/lib/process-request.test.ts
  packages/node/src/lib/express-middleware.ts
  packages/node/src/lib/process-request.ts
Labels: area:node
