Repository readmeio/metrics-sdks, pull requests merged in 2022-11, with the labels that each got.

#643 fix: quirk where an allowlist would redact HAR URLs
  packages/node/src/lib/process-request.ts
  packages/node/test/helpers/chai-plugins.ts
  packages/node/test/lib/process-request.test.ts
Labels: bug, area:node

#644 chore(deps): bumping out of date node packages
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/node/examples/express/package-lock.json
  packages/node/examples/fastify/package-lock.json
  packages/node/examples/hapi/package-lock.json
  packages/node/package-lock.json
  packages/node/package.json
Labels: area:node, dependencies

#662 fix(docs): update versions/categories
  .github/workflows/sync-docs.yml
  docs/alternative-methods.md
  docs/cloudflare-workers.md
  docs/dotnet-setup.md
  docs/nodejs-setup.md
  docs/php-laravel-setup.md
  docs/python-django-setup.md
  docs/python-flask-setup.md
  docs/python-wsgi-setup.md
  docs/ruby-setup.md
Labels: dependencies, documentation

#664 fix: fix secret type when use hmac func
  packages/python/readme_metrics/VerifyWebhook.py
Labels: bug, area:python
