Repository readmeio/metrics-sdks, pull requests merged in 2022-10, with the labels that each got.

#594 feat(node): hash api keys before sending to backend
  Makefile
  package-lock.json
  packages/node/.eslintrc.js
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/lib/construct-payload.ts
  packages/node/src/lib/metrics-log.ts
  packages/node/src/lib/process-request.ts
  packages/node/test/index.test.ts
  packages/node/test/lib/construct-payload.test.ts
  packages/node/test/lib/process-request.test.ts
  test/integration-metrics.test.js
Labels: enhancement, area:node

#619 docs: adding docs on our new node api key integrity hashes
  README.md
  docs/dotnet-setup.md
  docs/nodejs-setup.md
  docs/php-laravel-setup.md
  docs/python-django-setup.md
  docs/python-flask-setup.md
  docs/python-wsgi-setup.md
  docs/ruby-setup.md
  package-lock.json
  packages/node/README.md
  packages/node/examples/express/package-lock.json
  packages/node/examples/fastify/package-lock.json
  packages/node/examples/hapi/package-lock.json
  packages/node/package-lock.json
  packages/node/package.json
Labels: area:node, documentation

#620 docs: node v6 updates and general documentation cleanup
  docs/cloudflare-workers.md
  docs/dotnet-setup.md
  docs/nodejs-setup.md
  docs/php-laravel-setup.md
  docs/python-django-setup.md
  docs/python-flask-setup.md
  docs/python-wsgi-setup.md
  docs/ruby-setup.md
  packages/node/examples/fastify/index.js
Labels: documentation

#622 fix: removing a configuration system for the node SDK, renaming env vars
  .github/MAINTAINERS.md
  docker-compose.yml
  packages/dotnet/ReadMe/ConstValues.cs
  packages/node/package.json
  packages/node/src/config/default.json
  packages/node/src/config/index.js
  packages/node/src/config/localhost.json
  packages/node/src/config/testing.json
  packages/node/test/config.test.ts
  packages/php/src/Metrics.php
  packages/python/readme_metrics/publisher.py
  packages/ruby/lib/readme/metrics.rb
Labels: area:node, area:php, refactor, area:ruby, area:python, area:dotnet
