Repository readmeio/metrics-sdks, pull requests merged in 2022-12, with the labels that each got.

#683 chore: bumping out of date node deps
  package-lock.json
  packages/node/examples/express/package-lock.json
  packages/node/examples/fastify/package-lock.json
  packages/node/examples/fastify/package.json
  packages/node/examples/hapi/package-lock.json
  packages/node/examples/hapi/package.json
  packages/node/package-lock.json
  packages/node/package.json
  packages/sdk-snippets/package-lock.json
  packages/sdk-snippets/package.json
Labels: area:node, dependencies

#685 feat(sdk-snippets): exposing the AWS Lambda runtimes for AWS snippets
  packages/sdk-snippets/src/targets/csharp/aws/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/aws/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/aws/webhooks/client.ts
  packages/sdk-snippets/src/targets/ruby/aws/webhooks/client.ts
  packages/sdk-snippets/src/targets/targets.ts
Labels: enhancement, area:snippets

#688 docs: API gateway personalized docs webhook
  docs/aws-webhook.md
Labels: documentation
