Repository readmeio/metrics-sdks, pull requests merged in 2022-09, with the labels that each got.

#566 chore: updating the django branch with HEAD
  .eslintrc
  .github/workflows/python.yml
  .vscode/settings.json
  Makefile
  __tests__/.eslintrc
  __tests__/__datasets__/owlbert.dataurl.json
  __tests__/__datasets__/owlbert.png
  __tests__/__snapshots__/integration-metrics.test.js.snap
  __tests__/helpers/chai-plugins.js
  __tests__/integration-metrics.test.js
  __tests__/integration-webhooks.test.js
  __tests__/integrations/php.Dockerfile
  __tests__/integrations/python.Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  packages/dotnet/Makefile
  packages/dotnet/ReadMe/HarJsonObjectModels/Request.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/RequestProcessor.cs
  packages/dotnet/examples/net6.0-webhook/README.md
  packages/dotnet/examples/net6.0/README.md
  packages/node/.eslintrc.js
  packages/node/Makefile
  packages/node/__tests__/lib/is-request.test.ts
  packages/node/__tests__/lib/process-request.test.ts
  packages/node/examples/express/README.md
  packages/node/examples/express/package.json
  packages/node/examples/fastify/README.md
  packages/node/examples/fastify/package.json
  packages/node/examples/hapi/README.md
  packages/node/examples/hapi/package.json
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/lib/is-request.ts
  packages/node/src/lib/log.ts
  packages/node/src/lib/process-request.ts
  packages/php/Makefile
  packages/php/examples/laravel/README.md
  packages/php/examples/laravel/routes/web.php
  packages/php/src/HAR/Payload.php
  packages/php/src/Metrics.php
  packages/php/tests/HAR/PayloadTest.php
  packages/php/tests/MetricsTest.php
  packages/php/tests/datasets/owlbert.dataurl.txt
  packages/php/tests/datasets/owlbert.png
  packages/python/.gitignore
  packages/python/Makefile
  packages/python/examples/flask/README.md
  packages/python/examples/flask/webhooks.py
  packages/python/examples/metrics_django/README.md
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/tests/PayloadBuilder_test.py
  packages/ruby/Makefile
Labels: area:python

#567 fix(python/django): move instantiation of grouping_function
  packages/python/examples/metrics_django/metrics/models.py
  packages/python/examples/metrics_django/metrics/views.py
  packages/python/examples/metrics_django/metrics_django/settings.py
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/MetricsApiConfig.py
  packages/python/readme_metrics/tests/Metrics_test.py
Labels: bug, area:python

#564 feat: django integration test
  .github/workflows/python.yml
  .vscode/settings.json
  Makefile
  __tests__/integration-metrics.test.js
  __tests__/integrations/python.Dockerfile
  docker-compose.yml
  package.json
  packages/python/.gitignore
  packages/python/Makefile
  packages/python/examples/flask/README.md
  packages/python/examples/metrics_django/README.md
  packages/python/examples/metrics_django/manage.py
  packages/python/examples/metrics_django/metrics/__init__.py
  packages/python/examples/metrics_django/metrics/admin.py
  packages/python/examples/metrics_django/metrics/apps.py
  packages/python/examples/metrics_django/metrics/migrations/__init__.py
  packages/python/examples/metrics_django/metrics/models.py
  packages/python/examples/metrics_django/metrics/tests.py
  packages/python/examples/metrics_django/metrics/urls.py
  packages/python/examples/metrics_django/metrics/views.py
  packages/python/examples/metrics_django/metrics_django/__init__.py
  packages/python/examples/metrics_django/metrics_django/asgi.py
  packages/python/examples/metrics_django/metrics_django/settings.py
  packages/python/examples/metrics_django/metrics_django/urls.py
  packages/python/examples/metrics_django/metrics_django/wsgi.py
  packages/python/examples/metrics_django/requirements.txt
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/MetricsApiConfig.py
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/django.py
  packages/python/readme_metrics/tests/Metrics_test.py
  packages/python/readme_metrics/tests/django_test.py
Labels: enhancement, area:python

#583 feat: decoupling our docker unit test architecture
  .github/MAINTAINERS.md
  .github/workflows/dotnet.yml
  .github/workflows/nodejs.yml
  .github/workflows/php.yml
  .github/workflows/python.yml
  Makefile
  __tests__/integration-metrics.test.js
  __tests__/integration-webhooks.test.js
  __tests__/integrations/dotnet.Dockerfile
  __tests__/integrations/dotnet/v6.0-webhooks.Dockerfile
  __tests__/integrations/dotnet/v6.0.Dockerfile
  __tests__/integrations/node.Dockerfile
  __tests__/integrations/node/express.Dockerfile
  __tests__/integrations/node/fastify.Dockerfile
  __tests__/integrations/node/hapi.Dockerfile
  __tests__/integrations/php/laravel.Dockerfile
  __tests__/integrations/python.Dockerfile
  __tests__/integrations/python/django.Dockerfile
  __tests__/integrations/python/flask-webhooks.Dockerfile
  __tests__/integrations/python/flask.Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  packages/dotnet/examples/net6.0-webhook/Program.cs
  packages/dotnet/examples/net6.0/Program.cs
  packages/node/examples/express/index.js
  packages/node/examples/express/package.json
  packages/node/examples/express/webhook.js
  packages/node/examples/fastify/index.js
  packages/node/examples/hapi/index.js
  packages/python/examples/flask/app.py
  packages/python/examples/flask/webhooks.py
  packages/python/examples/metrics_django/manage.py
  packages/python/examples/metrics_django/metrics_django/settings.py
Labels: enhancement, area:node, area:php, exploration, refactor, area:python, area:dotnet

#591 ci: expanding codeql to run on our ruby sdk
  .github/workflows/codeql-analysis.yml
Labels: area:ruby

#598 fix: node snippets not working out of the box on node w/o esm compat
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty-default.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/quirky-escaping.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-and-server-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-types.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/server-variables.js
Labels: refactor, area:snippets

#599 feat: adding HAR validation to our integration suite + fixing bugs
  Makefile
  package-lock.json
  package.json
  packages/dotnet/ReadMe/HarJsonObjectModels/Content.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Request.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/RequestProcessor.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/ResponseProcessor.cs
  packages/node/src/lib/object-to-array.ts
  packages/node/src/lib/process-request.ts
  packages/node/src/lib/process-response.ts
  packages/php/src/HAR/Payload.php
  packages/php/tests/HAR/PayloadTest.php
  packages/php/tests/MetricsTest.php
  packages/python/readme_metrics/PayloadBuilder.py
  packages/ruby/lib/readme/har/collection.rb
  test/helpers/chai-plugins.js
  test/integration-metrics.test.js
Labels: bug, enhancement, area:node, area:php, area:ruby, area:python, area:dotnet

#602 fix(node webhook snippet): add app server link
  packages/sdk-snippets/README.md
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty-default.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/quirky-escaping.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-and-server-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-types.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/server-variables.js
Labels: enhancement, area:snippets

#603 fix: another rewrite
  packages/sdk-snippets/README.md
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty-default.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/quirky-escaping.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-and-server-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-types.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/server-variables.js
Labels: enhancement, area:snippets
