Repository readmeio/metrics-sdks, pull requests merged in 2022-07, with the labels that each got.

#494 ci: fixing composer installs in CI
  packages/php/composer.json
Labels: bug, area:php

#457 feat: add webhook verify utility function to node
  .github/workflows/nodejs.yml
  __tests__/integration-webhooks.test.js
  __tests__/integrations/node.Dockerfile
  docker-compose.yml
  package.json
  packages/node/__tests__/lib/verify-webhook.test.ts
  packages/node/examples/express/package-lock.json
  packages/node/examples/express/webhook.js
  packages/node/package-lock.json
  packages/node/src/index.ts
  packages/node/src/lib/verify-webhook.ts
Labels: enhancement, area:node

#502 fix: pointing the php sdk at our `/v1/request` endpoint
  packages/php/src/Metrics.php
  packages/php/tests/MetricsTest.php
Labels: enhancement, area:php
