Repository readmeio/metrics-sdks, pull requests merged in 2022-08, with the labels that each got.

#521 fix: upgrading multer to fix a CVE warning
  package-lock.json
  packages/node/package-lock.json
  packages/node/package.json
Labels: area:node, dependencies, security

#523 docs: complete overhaul all of our metrics integration docs
  .alexignore
  .alexrc.cjs
  .github/MAINTAINERS.md
  .github/workflows/lint-docs.yml
  .github/workflows/sync-docs.yml
  .prettierignore
  README.md
  docs/alternative-methods.md
  docs/cloudflare-workers.md
  docs/dotnet-setup.md
  docs/images/cloudflare-app-dashboard.png
  docs/images/cloudflare-app-installation.png
  docs/images/metrics_banner.png
  docs/nodejs-setup.md
  docs/php-laravel-setup.md
  docs/python-django-setup.md
  docs/python-flask-setup.md
  docs/python-wsgi-setup.md
  docs/ruby-setup.md
  package-lock.json
  package.json
  packages/dotnet/README.md
  packages/dotnet/examples/net6.0/README.md
  packages/node/README.md
  packages/node/SECURITY.md
  packages/node/examples/express/README.md
  packages/node/examples/hapi/README.md
  packages/php/README.md
  packages/php/SECURITY.md
  packages/python/CONTRIBUTING.md
  packages/python/README.md
  packages/python/SECURITY.md
  packages/ruby/CONTRIBUTING.md
  packages/ruby/README.md
  packages/ruby/SECURITY.md
Labels: area:node, area:php, refactor, area:ruby, area:python, documentation, area:dotnet

#528 feat: adding a fastify demo
  .prettierignore
  docs/nodejs-setup.md
  packages/node/examples/fastify/README.md
  packages/node/examples/fastify/index.js
  packages/node/examples/fastify/package-lock.json
  packages/node/examples/fastify/package.json
Labels: area:node, documentation

#530 feat: migrate the cloudflare worker into this repo
  .github/workflows/cloudflare-worker.yml
  .prettierignore
  README.md
  package-lock.json
  package.json
  packages/cloudflare-worker/.eslintignore
  packages/cloudflare-worker/.eslintrc
  packages/cloudflare-worker/.github/PULL_REQUEST_TEMPLATE.md
  packages/cloudflare-worker/.github/workflows/ci.yml
  packages/cloudflare-worker/.github/workflows/codeql-analysis.yml
  packages/cloudflare-worker/.gitignore
  packages/cloudflare-worker/.prettierignore
  packages/cloudflare-worker/.prettierrc
  packages/cloudflare-worker/LICENSE
  packages/cloudflare-worker/README.md
  packages/cloudflare-worker/__tests__/.eslintrc
  packages/cloudflare-worker/__tests__/cloudflare-routing.test.js
  packages/cloudflare-worker/__tests__/index.test.js
  packages/cloudflare-worker/__tests__/service-worker-globals.js
  packages/cloudflare-worker/__tests__/template.test.js
  packages/cloudflare-worker/install.json
  packages/cloudflare-worker/jest.config.js
  packages/cloudflare-worker/package-lock.json
  packages/cloudflare-worker/package.json
  packages/cloudflare-worker/src/constants.js
  packages/cloudflare-worker/src/index.js
  packages/cloudflare-worker/src/lib/cloudflare-routing.js
  packages/cloudflare-worker/src/template.js
  packages/cloudflare-worker/webpack.config.js
Labels: enhancement, area:cloudflare-worker

#532 fix: various fixes to the cloudflare worker
  .github/workflows/cloudflare-worker.yml
  package-lock.json
  packages/cloudflare-worker/package-lock.json
  packages/cloudflare-worker/package.json
  packages/cloudflare-worker/src/index.js
Labels: area:cloudflare-worker

#533 ci: cleaning up our monorepo splitting work to only split up the PHP SDK
  .github/MAINTAINERS.md
  .github/workflows/split-monorepo.yml
  bin/split.sh
Labels: refactor

#534 chore: updating out of date deps and our slightly revised code standards
  __tests__/integration-metrics.test.js
  __tests__/integration-webhooks.test.js
  package-lock.json
  package.json
  packages/cloudflare-worker/__tests__/cloudflare-routing.test.js
  packages/cloudflare-worker/__tests__/service-worker-globals.js
  packages/cloudflare-worker/__tests__/template.test.js
  packages/cloudflare-worker/package-lock.json
  packages/cloudflare-worker/package.json
  packages/cloudflare-worker/src/template.js
  packages/cloudflare-worker/webpack.config.js
  packages/node/__tests__/config.test.ts
  packages/node/__tests__/index.test.ts
  packages/node/__tests__/lib/construct-payload.test.ts
  packages/node/__tests__/lib/object-to-array.test.ts
  packages/node/__tests__/lib/process-request.test.ts
  packages/node/__tests__/lib/process-response.test.ts
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/lib/construct-payload.ts
  packages/node/src/lib/express-middleware.ts
  packages/node/src/lib/get-project-base-url.ts
  packages/node/src/lib/metrics-log.ts
  packages/node/src/lib/process-request.ts
  packages/node/src/lib/process-response.ts
  packages/sdk-snippets/.eslintrc
  packages/sdk-snippets/package-lock.json
  packages/sdk-snippets/package.json
  packages/sdk-snippets/src/helpers/code-builder.ts
  packages/sdk-snippets/src/helpers/utils.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/target.ts
  packages/sdk-snippets/src/targets/targets.test.ts
  packages/sdk-snippets/src/targets/targets.ts
Labels: dependencies, refactor

#539 fix(php): mishandling of file loading in $_POST payloads
  packages/php/Makefile
  packages/php/src/Metrics.php
  packages/php/tests/MetricsTest.php
  packages/php/tests/fixtures/owlbert.dataurl.txt
  packages/php/tests/fixtures/owlbert.png
Labels: bug, area:php, security

#538 feat(php): HAR consistency and overall cleanup
  .github/workflows/php.yml
  .gitignore
  .vscode/settings.json
  packages/php/composer.json
  packages/php/composer.lock
  packages/php/phpcs.xml
  packages/php/phpunit.xml
  packages/php/psalm.xml
  packages/php/src/Metrics.php
  packages/php/src/MetricsException.php
  packages/php/src/Middleware.php
  packages/php/src/ServiceProvider.php
  packages/php/tests/MetricsTest.php
Labels: enhancement, area:php, refactor

#540 feat(python): HAR consistency and overall cleanup
  .github/workflows/python.yml
  packages/python/.pylintrc
  packages/python/Makefile
  packages/python/examples/flask/app.py
  packages/python/readme_metrics/Metrics.py
  packages/python/readme_metrics/MetricsApiConfig.py
  packages/python/readme_metrics/MetricsMiddleware.py
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/django.py
  packages/python/readme_metrics/flask_readme.py
  packages/python/readme_metrics/publisher.py
  packages/python/readme_metrics/tests/MetricsMiddleware_test.py
  packages/python/readme_metrics/tests/PayloadBuilder_test.py
  packages/python/readme_metrics/tests/django_test.py
  packages/python/readme_metrics/tests/fixtures/Environ.py
  packages/python/readme_metrics/tests/flask_test.py
  packages/python/readme_metrics/tests/redaction_test.py
  packages/python/requirements.txt
Labels: enhancement, refactor, area:python

#537 feat(ruby): HAR consistency and overall cleanup
  .github/workflows/ruby.yml
  packages/ruby/.rubocop.yml
  packages/ruby/CONTRIBUTING.md
  packages/ruby/Gemfile
  packages/ruby/Gemfile.lock
  packages/ruby/Makefile
  packages/ruby/Rakefile
  packages/ruby/bin/console
  packages/ruby/lib/readme/content_type_helper.rb
  packages/ruby/lib/readme/errors.rb
  packages/ruby/lib/readme/filter.rb
  packages/ruby/lib/readme/har/collection.rb
  packages/ruby/lib/readme/har/request_serializer.rb
  packages/ruby/lib/readme/har/response_serializer.rb
  packages/ruby/lib/readme/har/serializer.rb
  packages/ruby/lib/readme/http_request.rb
  packages/ruby/lib/readme/http_response.rb
  packages/ruby/lib/readme/metrics.rb
  packages/ruby/lib/readme/metrics/version.rb
  packages/ruby/lib/readme/payload.rb
  packages/ruby/lib/readme/request_queue.rb
  packages/ruby/readme-metrics.gemspec
  packages/ruby/spec/readme/content_type_helper_spec.rb
  packages/ruby/spec/readme/filter_spec.rb
  packages/ruby/spec/readme/har/collection_spec.rb
  packages/ruby/spec/readme/har/request_serializer_spec.rb
  packages/ruby/spec/readme/har/response_serializer_spec.rb
  packages/ruby/spec/readme/har/serializer_spec.rb
  packages/ruby/spec/readme/http_request_spec.rb
  packages/ruby/spec/readme/http_response_spec.rb
  packages/ruby/spec/readme/metrics_spec.rb
  packages/ruby/spec/readme/payload_spec.rb
  packages/ruby/spec/readme/request_queue_spec.rb
  packages/ruby/spec/spec_helper.rb
  packages/ruby/spec/support/json_schema_matcher.rb
Labels: enhancement, refactor, area:ruby

#541 feat: splitting out the python dev deps into a separate requirements file
  .alexignore
  packages/python/Makefile
  packages/python/requirements.dev.txt
  packages/python/requirements.txt
  packages/python/setup.py
Labels: enhancement, area:python

#542 fix: nuget rendering of dotnet sdk readme
  packages/dotnet/README.md
Labels: bug, area:dotnet

#544 feat(dotnet): HAR consistency
  packages/dotnet/ReadMe/HarJsonTranslationLogics/HarJsonBuilder.cs
  packages/dotnet/ReadMe/ReadMe.csproj
Labels: enhancement, area:dotnet

#545 feat(dotnet): overall cleanup
  .github/workflows/dotnet.yml
  packages/dotnet/Makefile
  packages/dotnet/ReadMe.ruleset
  packages/dotnet/ReadMe/ConfigValues.cs
  packages/dotnet/ReadMe/ConstValues.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Content.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Cookies.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Creator.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Entries.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Group.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Headers.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Log.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Params.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/PostData.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/QueryStrings.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Request.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/RequestMain.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Response.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Root.cs
  packages/dotnet/ReadMe/HarJsonObjectModels/Timing.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/HarJsonBuilder.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/ReadmeApiCaller.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/RequestProcessor.cs
  packages/dotnet/ReadMe/HarJsonTranslationLogics/ResponseProcessor.cs
  packages/dotnet/ReadMe/Metrics.cs
  packages/dotnet/ReadMe/ReadMe.csproj
  packages/dotnet/ReadMe/Webhook.cs
Labels: enhancement, area:dotnet

#543 feat(node): HAR consistency
  packages/node/Makefile
  packages/node/__tests__/lib/construct-payload.test.ts
  packages/node/src/lib/construct-payload.ts
Labels: enhancement, area:node

#547 feat(php): webhooks support and integration tests
  .github/workflows/php.yml
  .vscode/settings.json
  Makefile
  __tests__/integration-metrics.test.js
  __tests__/integration-webhooks.test.js
  __tests__/integrations/php.Dockerfile
  docker-compose.yml
  packages/php/Makefile
  packages/php/composer.json
  packages/php/composer.lock
  packages/php/examples/laravel/.env.example
  packages/php/examples/laravel/.gitignore
  packages/php/examples/laravel/README.md
  packages/php/examples/laravel/app/Console/Kernel.php
  packages/php/examples/laravel/app/Exceptions/Handler.php
  packages/php/examples/laravel/app/Handler/ReadMe.php
  packages/php/examples/laravel/app/Http/Kernel.php
  packages/php/examples/laravel/app/Providers/RouteServiceProvider.php
  packages/php/examples/laravel/artisan
  packages/php/examples/laravel/bootstrap/app.php
  packages/php/examples/laravel/bootstrap/cache/.gitignore
  packages/php/examples/laravel/composer.json
  packages/php/examples/laravel/composer.lock
  packages/php/examples/laravel/config/app.php
  packages/php/examples/laravel/config/cache.php
  packages/php/examples/laravel/config/filesystems.php
  packages/php/examples/laravel/config/readme.php
  packages/php/examples/laravel/config/view.php
  packages/php/examples/laravel/public/.htaccess
  packages/php/examples/laravel/public/favicon.ico
  packages/php/examples/laravel/public/index.php
  packages/php/examples/laravel/public/robots.txt
  packages/php/examples/laravel/routes/web.php
  packages/php/examples/laravel/storage/app/.gitignore
  packages/php/examples/laravel/storage/app/public/.gitignore
  packages/php/examples/laravel/storage/framework/.gitignore
  packages/php/examples/laravel/storage/framework/cache/.gitignore
  packages/php/examples/laravel/storage/framework/cache/data/.gitignore
  packages/php/examples/laravel/storage/framework/sessions/.gitignore
  packages/php/examples/laravel/storage/framework/testing/.gitignore
  packages/php/examples/laravel/storage/framework/views/.gitignore
  packages/php/examples/laravel/storage/logs/.gitignore
  packages/php/phpcs.xml
  packages/php/psalm.xml
  packages/php/src/Metrics.php
  packages/php/src/Middleware.php
  packages/php/src/Webhooks.php
  packages/php/tests/MetricsTest.php
  packages/php/tests/WebhooksTest.php
  packages/sdk-snippets/src/targets/__snapshots__/targets.test.ts.snap
  packages/sdk-snippets/src/targets/node/target.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/empty-default.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/empty.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-and-server-variables.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-types.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-variables.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/server-variables.php
  packages/sdk-snippets/src/targets/php/target.ts
  packages/sdk-snippets/src/targets/targets.ts
Labels: enhancement, area:php

#550 feat(snippets): allowing webhook secrets to be injected into snippets
  Makefile
  packages/dotnet/examples/net6.0-webhook/Program.cs
  packages/node/examples/express/webhook.js
  packages/php/examples/laravel/routes/web.php
  packages/python/examples/flask/webhook.py
  packages/sdk-snippets/README.md
  packages/sdk-snippets/src/index.ts
  packages/sdk-snippets/src/targets/__snapshots__/targets.test.ts.snap
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/client.ts
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/empty-default.cs
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/empty.cs
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/security-and-server-variables.cs
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/security-types.cs
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/security-variables.cs
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/server-variables.cs
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty-default.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-and-server-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-types.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/server-variables.js
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/empty-default.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/empty.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-and-server-variables.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-types.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/security-variables.php
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/server-variables.php
  packages/sdk-snippets/src/targets/python/flask/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/empty-default.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/empty.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-and-server-variables.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-types.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-variables.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/server-variables.py
  packages/sdk-snippets/src/targets/targets.ts
Labels: enhancement, area:snippets

#551 fix(snippets): sanitizing webhook variables before inserting them into code snippets
  packages/sdk-snippets/src/fixtures/webhooks/quirky-escaping.js
  packages/sdk-snippets/src/helpers/escape.ts
  packages/sdk-snippets/src/targets/__snapshots__/targets.test.ts.snap
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/client.ts
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/fixtures/quirky-escaping.cs
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/quirky-escaping.js
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/quirky-escaping.php
  packages/sdk-snippets/src/targets/python/flask/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/quirky-escaping.py
Labels: bug, area:snippets

#552 refactor: cleaning up how we're adding variables into snippets
  packages/sdk-snippets/src/helpers/code-builder.ts
  packages/sdk-snippets/src/targets/dotnet/net6/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/flask/webhooks/client.ts
Labels: refactor, area:snippets

#554 feat: minor snippet improvements
  packages/dotnet/examples/net6.0-webhook/Program.cs
  packages/dotnet/examples/net6.0-webhook/README.md
  packages/dotnet/examples/net6.0/Program.cs
  packages/dotnet/examples/net6.0/README.md
  packages/node/examples/express/README.md
  packages/node/examples/express/index.js
  packages/node/examples/express/webhook.js
  packages/node/examples/fastify/README.md
  packages/node/examples/fastify/index.js
  packages/node/examples/hapi/README.md
  packages/node/examples/hapi/index.js
  packages/python/examples/README.md
  packages/python/examples/flask/app.py
  packages/python/examples/flask/webhook.py
  packages/sdk-snippets/CONTRIBUTING.md
  packages/sdk-snippets/README.md
  packages/sdk-snippets/src/helpers/code-converter.test.ts
  packages/sdk-snippets/src/targets/__snapshots__/targets.test.ts.snap
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/client.ts
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/empty-default.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/empty.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/quirky-escaping.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/security-and-server-variables.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/security-types.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/security-variables.cs
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/fixtures/server-variables.cs
  packages/sdk-snippets/src/targets/csharp/target.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty-default.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/empty.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/quirky-escaping.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-and-server-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-types.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/security-variables.js
  packages/sdk-snippets/src/targets/node/express/webhooks/fixtures/server-variables.js
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/fixtures/empty.php
  packages/sdk-snippets/src/targets/python/flask/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/empty-default.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/empty.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/quirky-escaping.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-and-server-variables.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-types.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/security-variables.py
  packages/sdk-snippets/src/targets/python/flask/webhooks/fixtures/server-variables.py
  packages/sdk-snippets/src/targets/targets.ts
Labels: enhancement, area:snippets

#556 chore(integration): forgot to wire up python webhook to gh actions
  .github/workflows/python.yml
  docker-compose.yml
Labels: area:python

#557 fix(python): postData wasn't being sent correctly
  packages/python/readme_metrics/PayloadBuilder.py
  packages/python/readme_metrics/tests/PayloadBuilder_test.py
Labels: bug, area:python

#555 feat(rfc): swapping out our code builder library
  package-lock.json
  packages/sdk-snippets/CONTRIBUTING.md
  packages/sdk-snippets/package-lock.json
  packages/sdk-snippets/package.json
  packages/sdk-snippets/src/helpers/code-builder.ts
  packages/sdk-snippets/src/helpers/code-converter.test.ts
  packages/sdk-snippets/src/helpers/code-converter.ts
  packages/sdk-snippets/src/helpers/code-writer.ts
  packages/sdk-snippets/src/helpers/escape.ts
  packages/sdk-snippets/src/index.ts
  packages/sdk-snippets/src/targets/csharp/dotnet6/webhooks/client.ts
  packages/sdk-snippets/src/targets/node/express/webhooks/client.ts
  packages/sdk-snippets/src/targets/php/laravel/webhooks/client.ts
  packages/sdk-snippets/src/targets/python/flask/webhooks/client.ts
  packages/sdk-snippets/src/targets/targets.ts
Labels: refactor, area:snippets

#558 chore(deps): running `composer update` in the php sdk
  packages/php/composer.lock
  packages/php/examples/laravel/composer.lock
Labels: area:php, dependencies

#459 refactor/node api design changes
  .github/MAINTAINERS.md
  __tests__/integration-metrics.test.js
  packages/dotnet/examples/net6.0/Program.cs
  packages/node/__tests__/index.test.ts
  packages/node/__tests__/lib/construct-payload.test.ts
  packages/node/__tests__/lib/process-request.test.ts
  packages/node/examples/express/index.js
  packages/node/examples/fastify/index.js
  packages/node/examples/hapi/index.js
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/lib/construct-payload.ts
  packages/node/src/lib/express-middleware.ts
  packages/node/src/lib/get-project-base-url.ts
  packages/node/src/lib/log.ts
  packages/node/src/lib/metrics-log.ts
  packages/node/src/lib/process-request.ts
  packages/php/examples/laravel/routes/web.php
  packages/python/examples/flask/app.py
Labels: area:node, refactor
