Repository readmeio/metrics-sdks, pull requests merged in 2024-07, with the labels that each got.

#1034 ci(ruby): don't run `bundle update`
  .github/workflows/ruby.yml
Labels: bug, ruby

#1036 feat: creating issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.md
Labels: documentation

#1043 chore(uuid): deprecate `uuid` package in favor of `node:crypto`
  package-lock.json
  packages/node/package.json
  packages/node/src/lib/construct-payload.ts
  packages/node/src/lib/log.ts
  packages/node/src/lib/metrics-log.ts
Labels: refactor

#1056 fix: type errors in tests
  packages/node/src/lib/ReadMe.ts
  packages/node/test/index.test.ts
  packages/node/test/lib/construct-payload.test.ts
  packages/node/test/lib/get-group-id.test.ts
  packages/node/test/lib/process-request.test.ts
  packages/node/test/lib/verify-webhook.test.ts
  packages/node/test/tsconfig.json
Labels: node

#1053 refactor(node): moving to native `fetch`
  .github/dependabot.yml
  package-lock.json
  packages/node/package.json
  packages/node/src/.api/api.json
  packages/node/src/.api/apis/developers/index.ts
  packages/node/src/.api/apis/developers/openapi.json
  packages/node/src/.api/apis/developers/schemas.ts
  packages/node/src/.api/apis/developers/types.ts
  packages/node/src/lib/ReadMe.ts
  packages/node/src/lib/get-project-base-url.ts
  packages/node/src/lib/metrics-log.ts
  packages/node/src/lib/test-verify-webhook.ts
  packages/node/test/helpers/getReadMeApiMock.ts
  packages/node/test/helpers/vitest.matchers.ts
  packages/node/test/index.test.ts
  packages/node/test/lib/construct-payload.test.ts
  packages/node/test/lib/get-group-id.test.ts
  packages/node/test/lib/get-project-base-url.test.ts
  packages/node/test/lib/process-request.test.ts
  packages/node/test/lib/verify-webhook.test.ts
  packages/node/test/tsconfig.json
  packages/node/tsconfig.json
Labels: enhancement, refactor, node

#1054 chore(node): removing our dependency on `oas`
  package-lock.json
  packages/node/package.json
  packages/node/src/lib/get-group-id.ts
  packages/node/test/lib/get-group-id.test.ts
Labels: enhancement, node

#1018 feat: moving our integration test suite over to using native fetch
  .github/workflows/dotnet.yml
  .github/workflows/nodejs.yml
  .github/workflows/php.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  docker-compose.yml
  package-lock.json
  package.json
  test/integration-metrics.test.js
  test/integration-webhooks.test.js
Labels: enhancement

#1046 chore: moving our issue templates to issue forms
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement
